.ColorPalette {
  transition:
    background-color 2s ease-in-out,
    box-shadow 2s ease-in-out,
    border-color 2s ease-in-out;

  * {
    transition:
      background-color 2s ease-in-out,
      box-shadow 2s ease-in-out,
      border-color 2s ease-in-out;
  }

  &.dtuRed {
    --color-primary: #6f0000;
    --color-primary-lighter: #d30000;
    --color-primary-darker: #370000;
    --color-secondary: #f7d4cd;
    --color-secondary-lighter: #fbe9e6;
    --color-secondary-darker: #e7806c;
  }

  &.dtuBlue {
    --color-primary: #2f3eea;
    --color-primary-lighter: #acb2f7;
    --color-primary-darker: #0a1266;
    --color-secondary: #6f0000;
    --color-secondary-lighter: #d30000;
    --color-secondary-darker: #370000;
  }

  &.dtuGreen {
    --color-primary: #1fd082;
    --color-primary-lighter: #a1f1ce;
    --color-primary-darker: #0c5334;
    --color-secondary: #2f3eea;
    --color-secondary-lighter: #acb2f7;
    --color-secondary-darker: #0a1266;
  }

  &.dtuNavyBlue {
    --color-primary: #030f4f;
    --color-primary-lighter: #5a73f9;
    --color-primary-darker: #010620;
    --color-secondary: #1fd082;
    --color-secondary-lighter: #a1f1ce;
    --color-secondary-darker: #0c5334;
  }

  &.dtuOrange {
    --color-primary: #fc7634;
    --color-primary-lighter: #fec8ae;
    --color-primary-darker: #782902;
    --color-secondary: #030f4f;
    --color-secondary-lighter: #5a73f9;
    --color-secondary-darker: #010620;
  }

  &.dtuPurple {
    --color-primary: #79238e;
    --color-primary-lighter: #d594e5;
    --color-primary-darker: #300e39;
    --color-secondary: #fc7634;
    --color-secondary-lighter: #fec8ae;
    --color-secondary-darker: #782902;
  }
}
