.Button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  height: 36px;
  width: 36px;
  border-radius: var(--radii-full);
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px 0 black;
  background-color: transparent;

  position: relative;

  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    75% {
      transform: rotate(-10deg);
    }
    100% {
      transform: rotate(0);
    }
  }

  &:hover {
    box-shadow: 0 0 10px 3px var(--color-primary-lighter);
    background-color: var(--color-tertiary);

    & svg {
      animation: shake 700ms ease-in-out infinite;
      color: var(--color-secondary-darker);
    }
  }

  & svg {
    transition: all 0.2s ease-in-out;
    height: 100%;
    width: 100%;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:disabled:hover {
    box-shadow: 0 0 10px 0 black;
    background-color: transparent;
  }

  &.rectangle {
    flex: 1 1 auto;
    height: 36px;
    border-radius: var(--radii-md);
    color: var(--color-text);
    gap: var(--space-2);
    padding: var(--space-2);
    background-color: var(--color-tertiary-darker);

    &:hover {
      background-color: var(--color-tertiary);
    }

    &:disabled:hover {
      background-color: var(--color-tertiary-darker);
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

//.button-rect {
//  flex: 1 1 auto;
//  height: 36px;
//  border-radius: var(--radii-md);
//  color: var(--color-text);
//  gap: var(--space-2);
//  padding: var(--space-2);
//  background-color: var(--color-tertiary-darker);
//
//  &:hover {
//    background-color: var(--color-tertiary);
//  }
//
//  &:disabled:hover {
//    background-color: var(--color-tertiary-darker);
//  }
//
//  svg {
//    width: 20px;
//    height: 20px;
//  }
//
//  &.green {
//    color: lawngreen;
//  }
//
//  &.red {
//    color: crimson;
//  }
//}


