.Dropdown {
  position: relative;
  color: var(--color-text);
  background-color: var(--color-tertiary-darker);
  box-shadow: 0 0 10px 0 black;
  height: 36px;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: var(--radii-full);
  transition: all 200ms ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 3px var(--color-primary-lighter);
    background-color: var(--color-tertiary);
    cursor: pointer;
  }

  .toggle {
    flex: 1;
    text-align: center;
    font-size: var(--font-sizes-lg);
    font-weight: bolder;
    padding: var(--space-2);
  }

  .arrow {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: var(--space-2);
    padding-right: var(--space-2);
    border-left: solid 3px var(--color-text);
    border-radius: var(--radii-full);

    &.rotate {
      p {
        transition: all 200ms ease-in-out;
        transform: rotate(180deg);
      }
    }
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    margin-top: 5px;
    background-color: var(--color-tertiary);
    box-shadow: 0 0 10px 4px var(--color-primary-lighter);
    overflow: hidden;
    border-radius: var(--radii-md);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 200ms ease-in-out;

    &.open {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    .item {
      padding: var(--space-2);
      cursor: pointer;
      transition: all 200ms ease-in-out;

      // Select all children of .item and remove pointer events
      & * {
        pointer-events: none;
      }

      &:hover {
        background-color: var(--color-tertiary-darker);
      }
    }
  }
}
