.scrollable {
  overflow: auto;
  scrollbar-gutter: stable both-edges;
  -webkit-overflow-scrolling: touch;

  &.horizontal {
    height: 100%;
  }

  &.vertical {
    width: 100%;
  }

  &.hide-scrollbar {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
