.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  outline: none;
  border: none;
  border-radius: var(--radii-xl);
  padding: 0;
  margin: 0;
  box-shadow: 0 0 10px 8px var(--color-primary-lighter);
  font-weight: bold;
  font-size: 18px;

  z-index: 100;
  color: var(--color-text);
  background: transparent;

  &::backdrop {
    background: rgba(0, 0, 0, 0.8);
  }

  .title {
    height: 40px;
    background: var(--color-primary-darker);
    border-bottom: 5px solid var(--color-primary-darker);
  }

  .control-btn {
    position: absolute;
    right: 0;
    padding: var(--space-2);

    &:disabled {
      cursor: not-allowed;
      background: var(--color-darkgray);

      &:hover {
        background: var(--color-darkgray);
      }
    }
  }

  .accept {
    bottom: 0;
    background: lawngreen;
    transform: translate(50%, 50%);
    &:hover {
      background: green;
    }
  }

  .cancel {
    top: 0;
    background: crimson;
    transform: translate(50%, -50%);
    &:hover {
      background: red;
    }
  }
}
