.blockContainer {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 250px;
  flex: 1 0 0;
}

.wrapper {
  flex: 1 0 0;
  width: 100%;
  background-color: var(--color-primary-darker);
  border-radius: var(--radii-2xl);
  position: relative;
}

.scrollable {
  position: absolute;
  inset: 0;
  padding: var(--space-2);
  height: auto !important;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  perspective: 500px;
  perspective-origin: center center;
}
.scrollable > * {
  margin-left: var(--space-2);
  margin-right: var(--space-2);
}
.scrollable > *:first-child {
  margin-left: 0;
}

.eventItem {
  width: 40%;
  min-width: 40%;
  flex: 1 0 400px;
  transition: all 250ms ease-in-out;
  transform-origin: 50% 50%;
  box-shadow: 0 0 10px 0 var(--color-secondary-lighter);
  border-radius: var(--radii-2xl);
  user-select: none;
  background: url("../../assets/images/texture/papyrus.jpg");
  justify-content: stretch;
  overflow: clip;
  font-weight: bolder;
  position: relative;
}
.eventItem .header {
  flex: 1;
  width: 100%;
  position: relative;
  isolation: isolate;
  padding: var(--space-2);
}
.eventItem .icon {
  position: absolute;
  top: var(--space-2);
  left: var(--space-2);
  border-radius: var(--radii-xl);
}
.eventItem .icon img {
  height: 45px;
  width: 45px;
}
.eventItem .name {
  color: black;
  align-self: stretch;
  height: 40px;
  margin-left: 50px;
  font-size: var(--font-sizes-xl);
  font-weight: bolder;
  border-bottom: solid 1px var(--color-primary);
}
.eventItem .details {
  flex: 1;
  width: 100%;
  color: var(--color-darkgray);
  font-size: var(--font-sizes-lg);
}
.eventItem .datetimeInfo {
  width: 100%;
  height: 70px;
  color: var(--color-tertiary-darker);
  font-size: var(--font-sizes-xl);
  text-align: center;
  padding-left: var(--space-2);
  padding-right: var(--space-2);
}
.eventItem .date {
  flex: 1 0 0;
  border-top: solid 4px var(--color-primary);
  border-right: solid 2px var(--color-primary);
  border-radius: var(--radii-xl);
  padding: var(--space-1);
  height: 70px;
}
.eventItem .date svg {
  height: 40px;
  width: 40px;
}
.eventItem .time {
  flex: 1 0 0;
  border-top: solid 4px var(--color-primary);
  border-right: solid 2px var(--color-primary);
  border-left: solid 2px var(--color-primary);
  border-radius: var(--radii-xl);
  padding: var(--space-1);
  height: 70px;
}
.eventItem .time svg {
  height: 40px;
  width: 40px;
}
.eventItem .duration {
  flex: 1 0 0;
  border-top: solid 4px var(--color-primary);
  border-left: solid 2px var(--color-primary);
  border-radius: var(--radii-xl);
  padding: var(--space-1);
  height: 70px;
}
.eventItem .duration svg {
  height: 40px;
  width: 40px;
}
.eventItem.placeholder {
  transform: scale(0.8);
  opacity: 0;
}
.eventItem.scrollItem {
  transform: scale(0.8);
  opacity: 0.6;
  transition: all 400ms ease-in-out;
  margin-left: calc(var(--space-2) * -1);
  margin-right: calc(var(--space-2) * -1);
}
.eventItem.scrollItem.active {
  transform: scale(1);
  opacity: 1;
}
.eventItem.scrollItem.left {
  transform: translateZ(-10px) scale(0.8) rotateY(-25deg);
}
.eventItem.scrollItem.right {
  transform: translateZ(-10px) scale(0.8) rotateY(25deg);
}
.eventItem.isPast {
  background: url("../../assets/images/texture/white-marble.jpg");
}
.eventItem.selected {
  box-shadow: 0 0 10px 5px green;
  transition: all 0.2s ease-in-out;
}
.eventItem.pointer {
  cursor: pointer;
}

.editDialog {
  width: 450px !important;
  overflow: visible;
  background-color: var(--color-primary) !important;
}
.editDialog .dheader {
  background-color: var(--color-primary-darker);
  border-bottom: solid 5px var(--color-primary-darker);
  border-top-left-radius: var(--radii-xl);
  border-top-right-radius: var(--radii-xl);
  padding: var(--space-1);
  gap: var(--space-3);
}
.editDialog .dheader img {
  height: 25px;
  width: 25px;
}
.editDialog .container {
  padding: var(--space-5) var(--space-10);
  gap: var(--space-3);
}
.editDialog .separator {
  height: 20px;
  width: 100%;
  border-top: solid 3px var(--color-primary-darker);
}
.editDialog .preview {
  width: 400px;
  height: 170px;
  align-items: stretch;
  margin: auto auto var(--space-4);
}

/*# sourceMappingURL=events.module.css.map */
