.events-block-container {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  flex: 1 0 0;
}

.scroll-wrapper {
  flex: 1 0 0;
  width: 100%;
  background: var(--color-primary-darker);
  border-radius: var(--radii-2xl);
  position: relative;
}

.events-scrollable-container {
  position: absolute;
  inset: 0;
  padding: var(--space-2);
  height: auto !important;
  display: flex;
  flex-direction: row;
  background: transparent;
  perspective: 500px;
  perspective-origin: center center;
}
.events-scrollable-container > * {
  margin-left: var(--space-2);
  margin-right: var(--space-2);
}
.events-scrollable-container > *:first-child {
  margin-left: 0;
}

.event-item {
  width: 40%;
  min-width: 40%;
  transition: all 250ms ease-in-out;
  transform-origin: 50% 50%;
  box-shadow: 0 0 10px 0 var(--color-secondary-lighter);
  border-radius: var(--radii-2xl);
  padding: var(--space-2);
  user-select: none;
  align-items: flex-start;
  gap: var(--space-2);
  position: relative;
  background: url("../../assets/images/texture/papyrus.jpg");
}
.event-item.placeholder {
  transform: scale(0.8);
  opacity: 0;
}
.event-item.scroll-item {
  transform: scale(0.8);
  opacity: 0.6;
  transition: all 400ms ease-in-out;
  margin-left: calc(var(--space-2) * -1);
  margin-right: calc(var(--space-2) * -1);
}
.event-item.scroll-item.active {
  transform: scale(1);
  opacity: 1;
}
.event-item.scroll-item.left {
  transform: translateZ(-10px) scale(0.8) rotateY(-25deg);
}
.event-item.scroll-item.right {
  transform: translateZ(-10px) scale(0.8) rotateY(25deg);
}
.event-item .text {
  flex: 1;
  font-size: var(--font-sizes-lg);
  font-weight: bold;
  color: black;
}
.event-item .time {
  font-size: var(--font-sizes-md);
  font-weight: bold;
  color: var(--color-darkgray);
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-1);
}
.event-item.past-event-item-background {
  background: url("../../assets/images/texture/white-marble.jpg");
}
.event-item.item-selected {
  box-shadow: 0 0 10px 5px green;
  transition: all 0.2s ease-in-out;
}
.event-item.cursor-pointer {
  cursor: pointer;
}
.event-item.emphasize {
  animation: enlarge 1s infinite, pulse 1s infinite;
}

.create-edit-event-dialog {
  width: 400px;
  min-height: 200px;
  overflow: visible;
}
.create-edit-event-dialog .content {
  width: 100%;
  min-height: 200px;
  box-shadow: 0 0 10px 0 var(--color-secondary-lighter);
  border-radius: var(--radii-2xl);
  padding: var(--space-2);
  user-select: none;
  align-items: flex-start;
  gap: var(--space-2);
  position: relative;
  background: url("../../assets/images/texture/papyrus.jpg");
}
.create-edit-event-dialog .background-past {
  background: url("../../assets/images/texture/white-marble.jpg");
}
.create-edit-event-dialog .text {
  width: 100%;
  background: transparent;
  color: black;
  font-size: var(--font-sizes-lg);
  text-align: center;
  outline: none;
  border: none;
  height: fit-content;
}
.create-edit-event-dialog .text::placeholder {
  color: var(--color-darkgray);
}
.create-edit-event-dialog .start-date-container,
.create-edit-event-dialog .end-date-container {
  font-size: var(--font-sizes-md);
  color: var(--color-darkgray);
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-1);
}

/*# sourceMappingURL=events.css.map */
