.events-container {
  //width: 400px;
  //width: 20%;
  //min-width: 20%;
  //height: 100%;
  flex: 1;
  width: 100%;

  gap: var(--space-2);

  .upcoming-events-container,
  .past-events-container {
    flex: 1 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color-primary-darker);
    border-radius: var(--radii-2xl);
    padding: var(--space-2);
    gap: var(--space-3);
    color: var(--color-text);
  }

  .event-item {
    width: 100%;
    box-shadow: 0 0 10px 0 var(--color-secondary-lighter);
    border-radius: var(--radii-2xl);
    padding: var(--space-2);
    user-select: none;
    align-items: flex-start;
    gap: var(--space-2);
    position: relative;
    background: url("../../assets/images/texture/papyrus.jpg");
    //background: url("~/assets/images/texture/papyrus.jpg");

    .text {
      flex: 1;
      font-size: var(--font-sizes-lg);
      font-weight: bold;
      color: black;
    }

    .time {
      font-size: var(--font-sizes-md);
      font-weight: bold;
      color: var(--color-darkgray);
      width: 100%;
      align-items: center;
      justify-content: flex-end;
      gap: var(--space-1);
    }

    &.past-event-item-background {
      //background: url("~/assets/images/texture/white-marble.jpg");
      background: url("../../assets/images/texture/white-marble.jpg");
    }

    &.item-selected {
      box-shadow: 0 0 10px 5px green;
      transition: all 0.2s ease-in-out;
    }

    &.cursor-pointer {
      cursor: pointer;
    }

    &.emphasize {
      animation:
        enlarge 1s infinite,
        pulse 1s infinite;
    }
  }
}

.create-edit-event-dialog {
  width: 400px;
  overflow: visible;

  .content {
    width: 100%;
    box-shadow: 0 0 10px 0 var(--color-secondary-lighter);
    border-radius: var(--radii-2xl);
    padding: var(--space-2);
    user-select: none;
    align-items: flex-start;
    gap: var(--space-2);
    position: relative;
    //background: url("~/assets/images/texture/papyrus.jpg");
    background: url("../../assets/images/texture/papyrus.jpg");
  }

  .background-past {
    //background: url("~/assets/images/texture/white-marble.jpg");
    background: url("../../assets/images/texture/white-marble.jpg");
  }

  .text {
    width: 100%;
    background: transparent;
    color: black;
    font-size: var(--font-sizes-lg);
    text-align: left;
    outline: none;
    border: none;
    height: fit-content;

    &::placeholder {
      color: var(--color-darkgray);
    }
  }

  .start-date-container,
  .end-date-container {
    font-size: var(--font-sizes-md);
    color: var(--color-darkgray);
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: var(--space-1);
  }
}
