.events-block-container {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 250px;
  flex: 1 0 0;
}

.scroll-wrapper {
  flex: 1 0 0;
  width: 100%;
  background: var(--color-primary-darker);
  border-radius: var(--radii-2xl);
  position: relative;
}

.events-scrollable-container {
  position: absolute;
  inset: 0;
  padding: var(--space-2);
  height: auto !important;
  display: flex;
  flex-direction: row;
  background: transparent;
  perspective: 500px;
  perspective-origin: center center;
}
.events-scrollable-container > * {
  margin-left: var(--space-2);
  margin-right: var(--space-2);
}
.events-scrollable-container > *:first-child {
  margin-left: 0;
}

.event-card {
  width: 40%;
  min-width: 40%;
  flex: 1 0 400px;
  transition: all 250ms ease-in-out;
  transform-origin: 50% 50%;
  box-shadow: 0 0 10px 0 var(--color-secondary-lighter);
  border-radius: var(--radii-2xl);
  user-select: none;
  background: url("../../assets/images/texture/papyrus.jpg");
  justify-content: stretch;
  overflow: clip;
  font-weight: bolder;
  position: relative;
}
.event-card-header {
  flex: 1;
  width: 100%;
  position: relative;
  isolation: isolate;
  padding: var(--space-2);
}
.event-card .icon {
  position: absolute;
  top: var(--space-2);
  left: var(--space-2);
  border-radius: var(--radii-xl);
}
.event-card .icon img {
  height: 45px;
  width: 45px;
}
.event-card .name {
  color: black;
  align-self: stretch;
  height: 40px;
  margin-left: 50px;
  font-size: var(--font-sizes-xl);
  font-weight: bolder;
  border-bottom: solid 1px var(--color-primary);
}
.event-card .details {
  flex: 1;
  width: 100%;
  color: var(--color-darkgray);
  font-size: var(--font-sizes-lg);
}
.event-card-datetime-info {
  width: 100%;
  height: 70px;
  color: var(--color-tertiary-darker);
  font-size: var(--font-sizes-xl);
  text-align: center;
  padding-left: var(--space-2);
  padding-right: var(--space-2);
}
.event-card .date {
  flex: 1 0 0;
  border-top: solid 4px var(--color-primary);
  border-right: solid 2px var(--color-primary);
  border-radius: var(--radii-xl);
  padding: var(--space-1);
  height: 70px;
}
.event-card .date svg {
  height: 40px;
  width: 40px;
}
.event-card .time {
  flex: 1 0 0;
  border-top: solid 4px var(--color-primary);
  border-right: solid 2px var(--color-primary);
  border-left: solid 2px var(--color-primary);
  border-radius: var(--radii-xl);
  padding: var(--space-1);
  height: 70px;
}
.event-card .time svg {
  height: 40px;
  width: 40px;
}
.event-card .duration {
  flex: 1 0 0;
  border-top: solid 4px var(--color-primary);
  border-left: solid 2px var(--color-primary);
  border-radius: var(--radii-xl);
  padding: var(--space-1);
  height: 70px;
}
.event-card .duration svg {
  height: 40px;
  width: 40px;
}
.event-card.placeholder {
  transform: scale(0.8);
  opacity: 0;
}
.event-card.scroll-item {
  transform: scale(0.8);
  opacity: 0.6;
  transition: all 400ms ease-in-out;
  margin-left: calc(var(--space-2) * -1);
  margin-right: calc(var(--space-2) * -1);
}
.event-card.scroll-item.active {
  transform: scale(1);
  opacity: 1;
}
.event-card.scroll-item.left {
  transform: translateZ(-10px) scale(0.8) rotateY(-25deg);
}
.event-card.scroll-item.right {
  transform: translateZ(-10px) scale(0.8) rotateY(25deg);
}
.event-card.past-event-item-background {
  background: url("../../assets/images/texture/white-marble.jpg");
}
.event-card.item-selected {
  box-shadow: 0 0 10px 5px green;
  transition: all 0.2s ease-in-out;
}
.event-card.cursor-pointer {
  cursor: pointer;
}
.event-card.emphasize {
  animation: enlarge 1s infinite, pulse 1s infinite;
}

.create-edit-event-dialog {
  width: 400px;
  overflow: visible;
  background: var(--color-primary) !important;
}
.create-edit-event-dialog .header {
  background-color: var(--color-primary-darker);
  border-bottom: solid 5px var(--color-primary-darker);
  border-top-left-radius: var(--radii-xl);
  border-top-right-radius: var(--radii-xl);
  padding: var(--space-1);
  gap: var(--space-3);
}
.create-edit-event-dialog .header img {
  height: 25px;
  width: 25px;
}
.create-edit-event-dialog .content-editors {
  padding: var(--space-5) var(--space-10);
  gap: var(--space-3);
}
.create-edit-event-dialog .separator {
  height: 20px;
  width: 100%;
  border-top: solid 3px var(--color-primary-darker);
}
.create-edit-event-dialog .preview {
  padding-bottom: var(--space-4);
}
.create-edit-event-dialog .preview .event-card {
  width: 375px;
  height: 170px;
}

/*# sourceMappingURL=events.css.map */
