.events-block-container {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  flex: 1 0 0;
}

.scroll-wrapper {
  flex: 1 0 0;
  width: 100%;
  background: var(--color-primary-darker);
  border-radius: var(--radii-2xl);
  position: relative;
}

.events-scrollable-container {
  position: absolute;
  inset: 0;
  padding: var(--space-2);
  height: auto !important;
  display: flex;
  flex-direction: row;
  background: transparent;

  // Select all childrens
  & > * {
    margin-left: var(--space-2);
    margin-right: var(--space-2);
  }

  // Select first child
  & > *:first-child {
    margin-left: 0;
  }

  perspective: 500px;
  perspective-origin: center center;
}

.event-item {
  width: 40%;
  min-width: 40%;
  transition: all 250ms ease-in-out;

  box-shadow: 0 0 10px 0 var(--color-secondary-lighter);
  border-radius: var(--radii-2xl);
  padding: var(--space-2);
  user-select: none;
  align-items: flex-start;
  gap: var(--space-2);
  position: relative;
  background: url("../../assets/images/texture/papyrus.jpg");
  transform-origin: 50% 50%;

  &.placeholder {
    transform: scale(0.8);
    opacity: 0;
  }

  &.scroll-item {
    transform: scale(0.8);
    opacity: 0.6;
    transition: all 400ms ease-in-out;
    // Add negative margins to decrease the space between left and right items
    margin-left: calc(var(--space-2) * -1);
    margin-right: calc(var(--space-2) * -1);

    &.active {
      transform: scale(1);
      opacity: 1;
    }

    &.left {
      transform: translateZ(-10px) scale(0.8) rotateY(-25deg);
    }

    &.right {
      transform: translateZ(-10px) scale(0.8) rotateY(25deg);
    }
  }

  .text {
    flex: 1;
    font-size: var(--font-sizes-lg);
    font-weight: bold;
    color: black;
  }

  .time {
    font-size: var(--font-sizes-md);
    font-weight: bold;
    color: var(--color-darkgray);
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: var(--space-1);
  }

  &.past-event-item-background {
    //background: url("~/assets/images/texture/white-marble.jpg");
    background: url("../../assets/images/texture/white-marble.jpg");
  }

  &.item-selected {
    box-shadow: 0 0 10px 5px green;
    transition: all 0.2s ease-in-out;
  }

  &.cursor-pointer {
    cursor: pointer;
  }

  &.emphasize {
    animation:
      enlarge 1s infinite,
      pulse 1s infinite;
  }
}

.create-edit-event-dialog {
  width: 400px;
  min-height: 200px;
  overflow: visible;

  .content {
    width: 100%;
    min-height: 200px;

    box-shadow: 0 0 10px 0 var(--color-secondary-lighter);
    border-radius: var(--radii-2xl);
    padding: var(--space-2);
    user-select: none;
    align-items: flex-start;
    gap: var(--space-2);
    position: relative;
    background: url("../../assets/images/texture/papyrus.jpg");
  }

  .background-past {
    background: url("../../assets/images/texture/white-marble.jpg");
  }

  .text {
    width: 100%;
    background: transparent;
    color: black;
    font-size: var(--font-sizes-lg);
    text-align: center;
    outline: none;
    border: none;
    height: fit-content;

    &::placeholder {
      color: var(--color-darkgray);
    }
  }

  .start-date-container,
  .end-date-container {
    font-size: var(--font-sizes-md);
    color: var(--color-darkgray);
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: var(--space-1);
  }
}
