.message-box {
  background-color: var(--color-primary);

  .content {
    justify-content: stretch;
    padding: var(--space-3) var(--space-1);
    background-color: var(--color-tertiary);
    font-size: var(--font-sizes-md);
    border: 3px solid var(--color-primary);
  }

  .controls {
    width: 100%;
    gap: var(--space-1);
    padding: var(--space-1);
    border-top: 5px solid var(--color-primary-darker);
  }
}
