.time-input {
  gap: var(--space-1);
  background: white;
  color: inherit;
  pointer-events: auto;

  > input {
    flex: 1;
    outline: none;
    border: none;
    background: white;

    &::before {
      content: attr(data-value);
      text-align: center;
      font-size: inherit;
      font-weight: inherit;
      color: var(--color-darkgray);
    }

    //noinspection ALL
    &::-webkit-datetime-edit {
      display: none;
    }

    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
}
