.HoverPopup {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-text);
  background-color: var(--color-tertiary-darker);
  padding: var(--space-2);
  border-radius: var(--radii-xl);
  box-shadow: 0 0 10px 4px var(--color-tertiary-lighter);
  font-size: var(--font-sizes-xs);
  font-style: italic;
  opacity: 0;
  white-space: nowrap;
  z-index: 10;

  // Turn off al pointer and move interactions
  pointer-events: none;
  user-select: none;
  transition: opacity 200ms ease-in-out;

  &.top-left {
    transform: translate(-100%, -100%);
  }

  &.top-right {
    transform: translate(0, -100%);
  }

  &.bottom-left {
    transform: translate(-100%, 0);
  }

  &.bottom-right {
    transform: translate(0, 0);
  }

  &.open {
    opacity: 1;
  }
}