@mixin debug($color, $enableBackground: false) {
  outline: 2px solid $color;
  @if $enableBackground {
    background: rgba($color, 0.1);
  }
}

@mixin generateAlignItems() {
  $alignItemsOptions: "normal", "stretch", "center", "start", "end",
    "flex-start", "flex-end", "self-start", "self-end", "baseline", "inherit",
    "initial", "revert", "unset";

  @each $option in $alignItemsOptions {
    &[alignItems="#{$option}"] {
      align-items: #{$option};
    }
  }
}

@mixin generateAlignContent() {
  $alignContentOptions: "center", "start", "end", "flex-start", "flex-end",
    "normal", "baseline", "space-between", "space-around", "space-evenly",
    "stretch", "inherit", "initial", "revert", "unset";

  @each $option in $alignContentOptions {
    &[alignContent="#{$option}"] {
      align-content: #{$option};
    }
  }
}

@mixin generateAlignSelf() {
  $alignSelfOptions: "auto", "normal", "center", "start", "end", "flex-start",
    "flex-end", "self-start", "self-end", "baseline", "stretch", "inherit",
    "initial", "revert", "unset";

  @each $option in $alignSelfOptions {
    &[alignSelf="#{$option}"] {
      align-self: #{$option};
    }
  }
}

@mixin generateJustifyItems() {
  $justifyItemsOptions: "normal", "stretch", "center", "start", "end",
    "flex-start", "flex-end", "self-start", "self-end", "left", "right",
    "baseline", "inherit", "initial", "revert", "unset";

  @each $option in $justifyItemsOptions {
    &[justifyItems="#{$option}"] {
      justify-items: #{$option};
    }
  }
}

@mixin generateJustifyContent() {
  $justifyContentOptions: "center", "start", "end", "flex-start", "flex-end",
    "left", "right", "normal", "space-between", "space-around", "space-evenly",
    "stretch", "inherit", "initial", "revert", "unset";

  @each $option in $justifyContentOptions {
    &[justifyContent="#{$option}"] {
      justify-content: #{$option};
    }
  }
}

@mixin generateJustifySelf() {
  $justifySelfOptions: "auto", "normal", "stretch", "center", "start", "end",
    "flex-start", "flex-end", "self-start", "self-end", "left", "right",
    "baseline", "inherit", "initial", "revert", "unset";

  @each $option in $justifySelfOptions {
    &[justifySelf="#{$option}"] {
      justify-self: #{$option};
    }
  }
}
