.Flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.Flex.row {
  flex-direction: row;
}
.Flex.row-reverse {
  flex-direction: row-reverse;
}
.Flex.column {
  flex-direction: column;
}
.Flex.column-reverse {
  flex-direction: column-reverse;
}
.Flex.ai-normal {
  align-items: normal;
}
.Flex.ai-stretch {
  align-items: stretch;
}
.Flex.ai-center {
  align-items: center;
}
.Flex.ai-start {
  align-items: start;
}
.Flex.ai-end {
  align-items: end;
}
.Flex.ai-flex-start {
  align-items: flex-start;
}
.Flex.ai-flex-end {
  align-items: flex-end;
}
.Flex.ai-self-start {
  align-items: self-start;
}
.Flex.ai-self-end {
  align-items: self-end;
}
.Flex.ai-baseline {
  align-items: baseline;
}
.Flex.ai-inherit {
  align-items: inherit;
}
.Flex.ai-initial {
  align-items: initial;
}
.Flex.ai-revert {
  align-items: revert;
}
.Flex.ai-unset {
  align-items: unset;
}
.Flex.ac-center {
  align-content: center;
}
.Flex.ac-start {
  align-content: start;
}
.Flex.ac-end {
  align-content: end;
}
.Flex.ac-flex-start {
  align-content: flex-start;
}
.Flex.ac-flex-end {
  align-content: flex-end;
}
.Flex.ac-normal {
  align-content: normal;
}
.Flex.ac-baseline {
  align-content: baseline;
}
.Flex.ac-space-between {
  align-content: space-between;
}
.Flex.ac-space-around {
  align-content: space-around;
}
.Flex.ac-space-evenly {
  align-content: space-evenly;
}
.Flex.ac-stretch {
  align-content: stretch;
}
.Flex.ac-inherit {
  align-content: inherit;
}
.Flex.ac-initial {
  align-content: initial;
}
.Flex.ac-revert {
  align-content: revert;
}
.Flex.ac-unset {
  align-content: unset;
}
.Flex.as-auto {
  align-self: auto;
}
.Flex.as-normal {
  align-self: normal;
}
.Flex.as-center {
  align-self: center;
}
.Flex.as-start {
  align-self: start;
}
.Flex.as-end {
  align-self: end;
}
.Flex.as-flex-start {
  align-self: flex-start;
}
.Flex.as-flex-end {
  align-self: flex-end;
}
.Flex.as-self-start {
  align-self: self-start;
}
.Flex.as-self-end {
  align-self: self-end;
}
.Flex.as-baseline {
  align-self: baseline;
}
.Flex.as-stretch {
  align-self: stretch;
}
.Flex.as-inherit {
  align-self: inherit;
}
.Flex.as-initial {
  align-self: initial;
}
.Flex.as-revert {
  align-self: revert;
}
.Flex.as-unset {
  align-self: unset;
}
.Flex.ji-normal {
  justify-items: normal;
}
.Flex.ji-stretch {
  justify-items: stretch;
}
.Flex.ji-center {
  justify-items: center;
}
.Flex.ji-start {
  justify-items: start;
}
.Flex.ji-end {
  justify-items: end;
}
.Flex.ji-flex-start {
  justify-items: flex-start;
}
.Flex.ji-flex-end {
  justify-items: flex-end;
}
.Flex.ji-self-start {
  justify-items: self-start;
}
.Flex.ji-self-end {
  justify-items: self-end;
}
.Flex.ji-left {
  justify-items: left;
}
.Flex.ji-right {
  justify-items: right;
}
.Flex.ji-baseline {
  justify-items: baseline;
}
.Flex.ji-inherit {
  justify-items: inherit;
}
.Flex.ji-initial {
  justify-items: initial;
}
.Flex.ji-revert {
  justify-items: revert;
}
.Flex.ji-unset {
  justify-items: unset;
}
.Flex.jc-center {
  justify-content: center;
}
.Flex.jc-start {
  justify-content: start;
}
.Flex.jc-end {
  justify-content: end;
}
.Flex.jc-flex-start {
  justify-content: flex-start;
}
.Flex.jc-flex-end {
  justify-content: flex-end;
}
.Flex.jc-left {
  justify-content: left;
}
.Flex.jc-right {
  justify-content: right;
}
.Flex.jc-normal {
  justify-content: normal;
}
.Flex.jc-space-between {
  justify-content: space-between;
}
.Flex.jc-space-around {
  justify-content: space-around;
}
.Flex.jc-space-evenly {
  justify-content: space-evenly;
}
.Flex.jc-stretch {
  justify-content: stretch;
}
.Flex.jc-inherit {
  justify-content: inherit;
}
.Flex.jc-initial {
  justify-content: initial;
}
.Flex.jc-revert {
  justify-content: revert;
}
.Flex.jc-unset {
  justify-content: unset;
}
.Flex.js-auto {
  justify-self: auto;
}
.Flex.js-normal {
  justify-self: normal;
}
.Flex.js-stretch {
  justify-self: stretch;
}
.Flex.js-center {
  justify-self: center;
}
.Flex.js-start {
  justify-self: start;
}
.Flex.js-end {
  justify-self: end;
}
.Flex.js-flex-start {
  justify-self: flex-start;
}
.Flex.js-flex-end {
  justify-self: flex-end;
}
.Flex.js-self-start {
  justify-self: self-start;
}
.Flex.js-self-end {
  justify-self: self-end;
}
.Flex.js-left {
  justify-self: left;
}
.Flex.js-right {
  justify-self: right;
}
.Flex.js-baseline {
  justify-self: baseline;
}
.Flex.js-inherit {
  justify-self: inherit;
}
.Flex.js-initial {
  justify-self: initial;
}
.Flex.js-revert {
  justify-self: revert;
}
.Flex.js-unset {
  justify-self: unset;
}

/*# sourceMappingURL=index.module.css.map */
