.Flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.Flex.row {
  flex-direction: row;
}
.Flex.row-reverse {
  flex-direction: row-reverse;
}
.Flex.column {
  flex-direction: column;
}
.Flex.column-reverse {
  flex-direction: column-reverse;
}
.Flex.nowrap {
  flex-wrap: nowrap;
}
.Flex.wrap {
  flex-wrap: wrap;
}
.Flex.wrap-reverse {
  flex-wrap: wrap-reverse;
}
.Flex.ai-center {
  align-items: center;
}
.Flex.ai-start {
  align-items: start;
}
.Flex.ai-end {
  align-items: end;
}
.Flex.ai-stretch {
  align-items: stretch;
}
.Flex.ai-unset {
  align-items: unset;
}
.Flex.ac-center {
  align-content: center;
}
.Flex.ac-start {
  align-content: start;
}
.Flex.ac-end {
  align-content: end;
}
.Flex.ac-stretch {
  align-content: stretch;
}
.Flex.ac-space-between {
  align-content: space-between;
}
.Flex.ac-space-around {
  align-content: space-around;
}
.Flex.ac-space-evenly {
  align-content: space-evenly;
}
.Flex.ac-unset {
  align-content: unset;
}
.Flex.as-center {
  align-self: center;
}
.Flex.as-start {
  align-self: start;
}
.Flex.as-end {
  align-self: end;
}
.Flex.as-stretch {
  align-self: stretch;
}
.Flex.as-unset {
  align-self: unset;
}
.Flex.ji-center {
  justify-items: center;
}
.Flex.ji-start {
  justify-items: start;
}
.Flex.ji-end {
  justify-items: end;
}
.Flex.ji-stretch {
  justify-items: stretch;
}
.Flex.ji-left {
  justify-items: left;
}
.Flex.ji-right {
  justify-items: right;
}
.Flex.ji-unset {
  justify-items: unset;
}
.Flex.jc-center {
  justify-content: center;
}
.Flex.jc-start {
  justify-content: start;
}
.Flex.jc-end {
  justify-content: end;
}
.Flex.jc-stretch {
  justify-content: stretch;
}
.Flex.jc-left {
  justify-content: left;
}
.Flex.jc-right {
  justify-content: right;
}
.Flex.jc-space-between {
  justify-content: space-between;
}
.Flex.jc-space-around {
  justify-content: space-around;
}
.Flex.jc-space-evenly {
  justify-content: space-evenly;
}
.Flex.jc-unset {
  justify-content: unset;
}
.Flex.js-center {
  justify-self: center;
}
.Flex.js-start {
  justify-self: start;
}
.Flex.js-end {
  justify-self: end;
}
.Flex.js-stretch {
  justify-self: stretch;
}
.Flex.js-left {
  justify-self: left;
}
.Flex.js-right {
  justify-self: right;
}
.Flex.js-unset {
  justify-self: unset;
}
.Flex.row.va-top {
  align-items: start;
}
.Flex.row.va-center {
  align-items: center;
}
.Flex.row.va-bottom {
  align-items: end;
}
.Flex.row.ha-left {
  justify-content: start;
}
.Flex.row.ha-center {
  justify-content: center;
}
.Flex.row.ha-right {
  justify-content: end;
}
.Flex.row.ai-top-left {
  align-items: start;
  justify-content: start;
}
.Flex.row.ai-top-center {
  align-items: start;
  justify-content: center;
}
.Flex.row.ai-top-right {
  align-items: start;
  justify-content: end;
}
.Flex.row.ai-center-left {
  align-items: center;
  justify-content: start;
}
.Flex.row.ai-center {
  align-items: center;
  justify-content: center;
}
.Flex.row.ai-center-right {
  align-items: center;
  justify-content: end;
}
.Flex.row.ai-bottom-left {
  align-items: end;
  justify-content: start;
}
.Flex.row.ai-bottom-center {
  align-items: end;
  justify-content: center;
}
.Flex.row.ai-bottom-right {
  align-items: end;
  justify-content: end;
}
.Flex.column.va-top {
  justify-content: start;
}
.Flex.column.va-center {
  justify-content: center;
}
.Flex.column.va-bottom {
  justify-content: end;
}
.Flex.column.ha-left {
  align-items: start;
}
.Flex.column.ha-center {
  align-items: center;
}
.Flex.column.ha-right {
  align-items: end;
}
.Flex.column.ai-top-left {
  justify-content: start;
  align-items: start;
}
.Flex.column.ai-top-center {
  justify-content: start;
  align-items: center;
}
.Flex.column.ai-top-right {
  justify-content: start;
  align-items: end;
}
.Flex.column.ai-center-left {
  justify-content: center;
  align-items: start;
}
.Flex.column.ai-center {
  align-items: center;
  justify-content: center;
}
.Flex.column.ai-center-right {
  justify-content: center;
  align-items: end;
}
.Flex.column.ai-bottom-left {
  justify-content: end;
  align-items: start;
}
.Flex.column.ai-bottom-center {
  justify-content: end;
  align-items: center;
}
.Flex.column.ai-bottom-right {
  justify-content: end;
  align-items: end;
}
.Flex.gap-1 {
  gap: var(--space-1);
}
.Flex.gap-2 {
  gap: var(--space-2);
}
.Flex.gap-3 {
  gap: var(--space-3);
}
.Flex.gap-4 {
  gap: var(--space-4);
}
.Flex.gap-5 {
  gap: var(--space-5);
}
.Flex.w-auto {
  width: auto;
}
.Flex.w-full {
  width: 100%;
}
.Flex.w-half {
  width: 50%;
}
.Flex.w-third {
  width: 33.333333%;
}
.Flex.w-quarter {
  width: 25%;
}
.Flex.w-screen {
  width: 100dvw;
}
.Flex.h-auto {
  height: auto;
}
.Flex.h-full {
  height: 100%;
}
.Flex.h-half {
  height: 50%;
}
.Flex.h-third {
  height: 33.333333%;
}
.Flex.h-quarter {
  height: 25%;
}
.Flex.h-screen {
  height: 100dvh;
}
.Flex.flex-1 {
  flex: 1;
}
.Flex.flex-2 {
  flex: 2;
}
.Flex.flex-3 {
  flex: 3;
}
.Flex.flex-4 {
  flex: 4;
}
.Flex.flex-5 {
  flex: 5;
}

/*# sourceMappingURL=index.module.css.map */
