@mixin generateDirectionClasses() {
  // Flex Direction
  $flexDirectionOptions: "row", "row-reverse", "column", "column-reverse";
  @each $option in $flexDirectionOptions {
    &.#{$option} {
      flex-direction: #{$option};
    }
  }
}

@mixin generateWrapClasses() {
  // Flex Wrap
  flex-wrap: nowrap;

  $flexWrapOptions: "nowrap", "wrap", "wrap-reverse";
  @each $option in $flexWrapOptions {
    &.#{$option} {
      flex-wrap: #{$option};
    }
  }
}

@mixin generateAlignJustClasses() {
  // Alignments and Justifications
  align-items: center;
  justify-content: center;

  $alignItemsOptions: "center", "start", "end", "stretch", "unset";

  @each $option in $alignItemsOptions {
    &.ai-#{$option} {
      align-items: #{$option};
    }
  }

  $alignContentOptions: "center", "start", "end", "stretch", "space-between",
    "space-around", "space-evenly", "unset";

  @each $option in $alignContentOptions {
    &.ac-#{$option} {
      align-content: #{$option};
    }
  }

  $alignSelfOptions: "center", "start", "end", "stretch", "unset";

  @each $option in $alignSelfOptions {
    &.as-#{$option} {
      align-self: #{$option};
    }
  }

  $justifyItemsOptions: "center", "start", "end", "stretch", "left", "right",
    "unset";

  @each $option in $justifyItemsOptions {
    &.ji-#{$option} {
      justify-items: #{$option};
    }
  }

  $justifyContentOptions: "center", "start", "end", "stretch", "left", "right",
    "space-between", "space-around", "space-evenly", "unset";

  @each $option in $justifyContentOptions {
    &.jc-#{$option} {
      justify-content: #{$option};
    }
  }

  $justifySelfOptions: "center", "start", "end", "stretch", "left", "right",
    "unset";

  @each $option in $justifySelfOptions {
    &.js-#{$option} {
      justify-self: #{$option};
    }
  }
}

@mixin generateGapClasses() {
  // Generate gap classes
  @for $i from 1 through 5 {
    &.gap-#{$i} {
      gap: var(--space-#{$i});
    }
  }
}

@mixin generateWidthHeightClasses() {
  &.w-auto {
    width: auto;
  }
  &.w-full {
    width: 100%;
  }
  &.w-half {
    width: 50%;
  }
  &.w-third {
    width: 33.333333%;
  }
  &.w-quarter {
    width: 25%;
  }
  &.w-screen {
    width: 100dvw;
  }

  &.h-auto {
    height: auto;
  }
  &.h-full {
    height: 100%;
  }
  &.h-half {
    height: 50%;
  }
  &.h-third {
    height: 33.333333%;
  }
  &.h-quarter {
    height: 25%;
  }
  &.h-screen {
    height: 100dvh;
  }
}

@mixin generateFlexClasses() {
  // Flex
  @for $i from 1 through 5 {
    &.flex-#{$i} {
      flex: #{$i};
    }
  }
}

.Flex {
  display: flex;

  @include generateDirectionClasses();
  @include generateWrapClasses();
  @include generateAlignJustClasses();
  @include generateGapClasses();
  @include generateWidthHeightClasses();
  @include generateFlexClasses();
}
