@use "../Input/index.module.scss" as *;

.DateTimePicker {
  width: 100%;
  @include input-base();

  > .container {
    position: absolute;
    top: var(--label-height);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    padding-left: 30px;

    color: var(--color-tertiary-darker);
    justify-content: space-evenly;

    text-align: center;
    border: none;
    outline: none;
    align-self: stretch;
    font-size: var(--font-sizes-lg);
    font-weight: bold;
    background-color: var(--color-secondary);
    border-radius: var(--radii-3xl);

    box-shadow: 0 0 10px 5px var(--color-tertiary-lighter);

    transition: all 0.2s ease-in-out;
  }
}
