.DateInput {
  gap: var(--space-1);
  background-color: white;
  pointer-events: auto;

  > svg {
    width: 20px;
    height: 20px;
  }

  > input {
    flex: 1;
    outline: none;
    border: none;
    background-color: white;

    &::before {
      content: attr(data-value);
      text-align: center;
      font-size: inherit;
      font-weight: inherit;
      color: var(--color-darkgray);
    }

    //noinspection ALL
    &::-webkit-datetime-edit {
      display: none;
    }

    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
}
