.news-container {
  flex: 1 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-primary-darker);
  border-radius: var(--radii-2xl);
  padding: var(--space-2);
  gap: var(--space-1);
}
.news-container .news-item {
  width: 100%;
  background-color: var(--color-secondary);
  box-shadow: 0 0 10px 0 var(--color-secondary-lighter);
  border-radius: 10px;
  padding: var(--space-2);
  user-select: none;
  font-weight: bold;
  gap: var(--space-2);
  position: relative;
}
.news-container .item-selected {
  outline: 5px solid green;
}
.news-container .cursor-pointer {
  cursor: pointer;
}
.news-container .text {
  width: 100%;
  text-align: center;
  color: black;
  font-size: var(--font-sizes-lg);
}
.news-container .time {
  width: 100%;
  text-align: right;
  color: var(--color-darkgray);
  font-size: var(--font-sizes-md);
  justify-content: flex-end;
  gap: var(--space-2);
}
.news-container .time svg {
  width: 20px;
  height: 20px;
}
.news-container .emphasize {
  animation: enlarge 1s infinite, pulse 1s infinite;
}

.create-news-dialog {
  width: 800px !important;
  overflow: visible;
}
.create-news-dialog > .title {
  width: 100%;
  height: 40px;
  color: white;
  gap: var(--space-3);
  border-top-left-radius: var(--radii-xl);
  border-top-right-radius: var(--radii-xl);
  font-size: var(--font-sizes-lg);
  justify-content: left;
  padding-left: var(--space-4);
  padding-top: var(--space-1);
}
.create-news-dialog > .title > img {
  width: 30px;
  height: 30px;
}
.create-news-dialog > .content {
  width: 100%;
  background-color: var(--color-primary);
  box-shadow: 0 0 10px 0 var(--color-secondary-lighter);
  border-radius: 10px;
  padding: var(--space-2);
  user-select: none;
  font-weight: bold;
  gap: var(--space-4);
  position: relative;
}
.create-news-dialog > .content .dd-item-inner {
  gap: var(--space-2);
}
.create-news-dialog > .content .dd-item-inner img {
  width: 24px;
  height: 24px;
}
.create-news-dialog > .content .iframe-height-adjustor {
  position: absolute;
  background: var(--color-primary-darker);
  top: 50%;
  right: var(--space-1);
  transform: translate(0, -50%);
  border-radius: var(--radii-full);
  padding-top: var(--space-2);
  padding-bottom: var(--space-2);
  font-size: var(--font-sizes-sm);
  gap: var(--space-5);
}
.create-news-dialog > .content .iframe-height-adjustor > input {
  border: none;
  outline: none;
  background: transparent;
  width: 50px;
  color: white;
  text-align: center;
}
.create-news-dialog > .content .iframe-height-adjustor > input::-webkit-outer-spin-button, .create-news-dialog > .content .iframe-height-adjustor > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.create-news-dialog > .content .iframe-editor {
  width: 100%;
  min-height: 150px;
  padding: var(--space-2);
  border: none;
  outline: none;
  background-color: var(--color-secondary);
  border-radius: var(--radii-2xl);
  font-size: var(--font-sizes-md);
  box-shadow: 0 0 10px 5px var(--color-tertiary-lighter);
  font-family: "Courier New", Courier;
  color: var(--color-darkgray);
  spellcheck: false;
  transition: all 0.2s ease-in-out;
}
.create-news-dialog > .content .iframe-editor:focus {
  box-shadow: 0 0 10px 10px var(--color-tertiary);
  background: var(--color-secondary-lighter);
}
.create-news-dialog > .content > .preview {
  background-color: var(--color-secondary);
  width: 100%;
  height: 100px;
}
.create-news-dialog > .content .text {
  width: 100%;
  background: transparent;
  color: black;
  font-size: var(--font-sizes-lg);
  text-align: center;
  outline: none;
  border: none;
  height: fit-content;
}
.create-news-dialog > .content .time {
  width: 100%;
  text-align: right;
  color: var(--color-darkgray);
  font-size: var(--font-sizes-md);
  justify-content: flex-end;
  gap: var(--space-2);
}
.create-news-dialog > .content .time svg {
  width: 20px;
  height: 20px;
}

/*# sourceMappingURL=news.css.map */
