.Row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.Row[alignItems=normal] {
  align-items: normal;
}
.Row[alignItems=stretch] {
  align-items: stretch;
}
.Row[alignItems=center] {
  align-items: center;
}
.Row[alignItems=start] {
  align-items: start;
}
.Row[alignItems=end] {
  align-items: end;
}
.Row[alignItems=flex-start] {
  align-items: flex-start;
}
.Row[alignItems=flex-end] {
  align-items: flex-end;
}
.Row[alignItems=self-start] {
  align-items: self-start;
}
.Row[alignItems=self-end] {
  align-items: self-end;
}
.Row[alignItems=baseline] {
  align-items: baseline;
}
.Row[alignItems=inherit] {
  align-items: inherit;
}
.Row[alignItems=initial] {
  align-items: initial;
}
.Row[alignItems=revert] {
  align-items: revert;
}
.Row[alignItems=unset] {
  align-items: unset;
}
.Row[alignContent=center] {
  align-content: center;
}
.Row[alignContent=start] {
  align-content: start;
}
.Row[alignContent=end] {
  align-content: end;
}
.Row[alignContent=flex-start] {
  align-content: flex-start;
}
.Row[alignContent=flex-end] {
  align-content: flex-end;
}
.Row[alignContent=normal] {
  align-content: normal;
}
.Row[alignContent=baseline] {
  align-content: baseline;
}
.Row[alignContent=space-between] {
  align-content: space-between;
}
.Row[alignContent=space-around] {
  align-content: space-around;
}
.Row[alignContent=space-evenly] {
  align-content: space-evenly;
}
.Row[alignContent=stretch] {
  align-content: stretch;
}
.Row[alignContent=inherit] {
  align-content: inherit;
}
.Row[alignContent=initial] {
  align-content: initial;
}
.Row[alignContent=revert] {
  align-content: revert;
}
.Row[alignContent=unset] {
  align-content: unset;
}
.Row[alignSelf=auto] {
  align-self: auto;
}
.Row[alignSelf=normal] {
  align-self: normal;
}
.Row[alignSelf=center] {
  align-self: center;
}
.Row[alignSelf=start] {
  align-self: start;
}
.Row[alignSelf=end] {
  align-self: end;
}
.Row[alignSelf=flex-start] {
  align-self: flex-start;
}
.Row[alignSelf=flex-end] {
  align-self: flex-end;
}
.Row[alignSelf=self-start] {
  align-self: self-start;
}
.Row[alignSelf=self-end] {
  align-self: self-end;
}
.Row[alignSelf=baseline] {
  align-self: baseline;
}
.Row[alignSelf=stretch] {
  align-self: stretch;
}
.Row[alignSelf=inherit] {
  align-self: inherit;
}
.Row[alignSelf=initial] {
  align-self: initial;
}
.Row[alignSelf=revert] {
  align-self: revert;
}
.Row[alignSelf=unset] {
  align-self: unset;
}
.Row[justifyItems=normal] {
  justify-items: normal;
}
.Row[justifyItems=stretch] {
  justify-items: stretch;
}
.Row[justifyItems=center] {
  justify-items: center;
}
.Row[justifyItems=start] {
  justify-items: start;
}
.Row[justifyItems=end] {
  justify-items: end;
}
.Row[justifyItems=flex-start] {
  justify-items: flex-start;
}
.Row[justifyItems=flex-end] {
  justify-items: flex-end;
}
.Row[justifyItems=self-start] {
  justify-items: self-start;
}
.Row[justifyItems=self-end] {
  justify-items: self-end;
}
.Row[justifyItems=left] {
  justify-items: left;
}
.Row[justifyItems=right] {
  justify-items: right;
}
.Row[justifyItems=baseline] {
  justify-items: baseline;
}
.Row[justifyItems=inherit] {
  justify-items: inherit;
}
.Row[justifyItems=initial] {
  justify-items: initial;
}
.Row[justifyItems=revert] {
  justify-items: revert;
}
.Row[justifyItems=unset] {
  justify-items: unset;
}
.Row[justifyContent=center] {
  justify-content: center;
}
.Row[justifyContent=start] {
  justify-content: start;
}
.Row[justifyContent=end] {
  justify-content: end;
}
.Row[justifyContent=flex-start] {
  justify-content: flex-start;
}
.Row[justifyContent=flex-end] {
  justify-content: flex-end;
}
.Row[justifyContent=left] {
  justify-content: left;
}
.Row[justifyContent=right] {
  justify-content: right;
}
.Row[justifyContent=normal] {
  justify-content: normal;
}
.Row[justifyContent=space-between] {
  justify-content: space-between;
}
.Row[justifyContent=space-around] {
  justify-content: space-around;
}
.Row[justifyContent=space-evenly] {
  justify-content: space-evenly;
}
.Row[justifyContent=stretch] {
  justify-content: stretch;
}
.Row[justifyContent=inherit] {
  justify-content: inherit;
}
.Row[justifyContent=initial] {
  justify-content: initial;
}
.Row[justifyContent=revert] {
  justify-content: revert;
}
.Row[justifyContent=unset] {
  justify-content: unset;
}
.Row[justifySelf=auto] {
  justify-self: auto;
}
.Row[justifySelf=normal] {
  justify-self: normal;
}
.Row[justifySelf=stretch] {
  justify-self: stretch;
}
.Row[justifySelf=center] {
  justify-self: center;
}
.Row[justifySelf=start] {
  justify-self: start;
}
.Row[justifySelf=end] {
  justify-self: end;
}
.Row[justifySelf=flex-start] {
  justify-self: flex-start;
}
.Row[justifySelf=flex-end] {
  justify-self: flex-end;
}
.Row[justifySelf=self-start] {
  justify-self: self-start;
}
.Row[justifySelf=self-end] {
  justify-self: self-end;
}
.Row[justifySelf=left] {
  justify-self: left;
}
.Row[justifySelf=right] {
  justify-self: right;
}
.Row[justifySelf=baseline] {
  justify-self: baseline;
}
.Row[justifySelf=inherit] {
  justify-self: inherit;
}
.Row[justifySelf=initial] {
  justify-self: initial;
}
.Row[justifySelf=revert] {
  justify-self: revert;
}
.Row[justifySelf=unset] {
  justify-self: unset;
}

/*# sourceMappingURL=index.module.css.map */
