.news-block-container {
  --item-width: 500px;
  height: 100%;
  // Item width + 4 * padding (left and right)
  width: calc(var(--item-width) + 4 * var(--space-2));
  //float: left;
  overflow: hidden;
}

.news-scrollable-container {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  background: var(--color-primary-darker);
  border-radius: var(--radii-2xl);
  padding: var(--space-2);
  gap: var(--space-2);
  // Item width + 2 * padding (left and right)
  width: calc(var(--item-width) + 2 * var(--space-2));
  //top: 100px;
  //animation: scroll 10s linear 1s infinite;
  .news-scroll-animation-wrapper {
    position: relative;

    // Add gaps between elements via margin
    // Select all elements except the last one
    > *:not(:last-child) {
      margin-bottom: var(--space-2);
    }


    //top: 0;
    //animation: scroll 10s linear 1s infinite;
  }

  .news-item {
    width: min-content;
    margin: auto;
    border-radius: var(--radii-xl);
    box-shadow: 0 0 10px 0 var(--color-secondary-lighter);
    transition: all 0.2s ease-in-out;
  }

  .item-selected {
    box-shadow: 0 0 10px 5px green;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .text {
    width: 100%;
    text-align: center;
    color: black;
    font-size: var(--font-sizes-lg);
  }

  .time {
    width: 100%;
    text-align: right;
    color: var(--color-darkgray);
    font-size: var(--font-sizes-md);
    justify-content: flex-end;
    gap: var(--space-2);

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .emphasize {
    animation:
      enlarge 1s infinite,
      pulse 1s infinite;
  }
}

@keyframes scroll {
  95% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

.create-news-dialog {
  width: 800px !important;
  overflow: visible;

  > .title {
    width: 100%;
    height: 40px;
    color: white;
    gap: var(--space-3);
    border-top-left-radius: var(--radii-xl);
    border-top-right-radius: var(--radii-xl);
    font-size: var(--font-sizes-lg);
    justify-content: left;
    padding-left: var(--space-4);
    padding-top: var(--space-1);

    > img {
      width: 30px;
      height: 30px;
    }
  }

  > .content {
    width: 100%;
    background-color: var(--color-primary);
    box-shadow: 0 0 10px 0 var(--color-secondary-lighter);
    border-radius: 10px;
    padding: var(--space-2);
    user-select: none;
    font-weight: bold;
    gap: var(--space-4);
    position: relative;

    .dropdown-item-inner {
      gap: var(--space-2);
      img {
        width: 24px;
        height: 24px;
      }
    }

    .html-code {
      width: 100%;
      min-height: 150px;
      padding: var(--space-2);
      border: none;
      outline: none;
      background-color: var(--color-secondary);
      border-radius: var(--radii-2xl);
      font-size: var(--font-sizes-md);
      box-shadow: 0 0 10px 5px var(--color-tertiary-lighter);
      font-family: "Courier New", Courier, monospace;
      color: var(--color-darkgray);

      transition: all 0.2s ease-in-out;
      &:focus {
        box-shadow: 0 0 10px 10px var(--color-tertiary);
        background: var(--color-secondary-lighter);
      }
    }

    .preview {
      padding-top: var(--space-1);
      padding-bottom: var(--space-2);
      max-height: 300px;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .size-adjustor {
      position: absolute;
      //background: #d30000;
      background: var(--color-primary-darker);
      top: 50%;
      right: var(--space-1);
      transform: translate(0, -50%);
      border-radius: var(--radii-full);
      //padding: var(--space-2);
      padding-top: var(--space-2);
      padding-bottom: var(--space-2);

      font-size: var(--font-sizes-sm);
      gap: var(--space-5);

      > input {
        border: none;
        outline: none;
        background: transparent;
        width: 50px;
        color: white;
        text-align: center;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }

    .time {
      width: 100%;
      text-align: right;
      color: var(--color-darkgray);
      font-size: var(--font-sizes-md);
      justify-content: flex-end;
      gap: var(--space-2);

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
