.blockContainer {
  --item-width: 500px;
  height: 100%;
  width: calc(var(--item-width) + 4 * var(--space-2));
  min-width: calc(var(--item-width) + 4 * var(--space-2));
  max-width: calc(var(--item-width) + 4 * var(--space-2));
  overflow: hidden;
}

.scrollable {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-darker);
  border-radius: var(--radii-2xl);
  padding: var(--space-2);
  gap: var(--space-2);
  width: calc(var(--item-width) + 2 * var(--space-2));
}
.scrollable .wrapper {
  position: relative;
}
.scrollable .wrapper > *:not(:last-child) {
  margin-bottom: var(--space-2);
}

.newsItem {
  width: min-content;
  margin: auto;
  border-radius: var(--radii-xl);
  box-shadow: 0 0 10px 0 var(--color-secondary-lighter);
  transition: all 0.2s ease-in-out;
  position: relative;
  isolation: isolate;
}
.newsItem.selected {
  box-shadow: 0 0 10px 5px green;
}
.newsItem.pointer {
  cursor: pointer;
}

.editDialog {
  width: 800px !important;
  overflow: visible;
}
.editDialog .title {
  width: 100%;
  height: 40px;
  color: white;
  background-color: var(--color-primary-darker);
  border-bottom: 5px solid var(--color-primary-darker);
  gap: var(--space-3);
  border-top-left-radius: var(--radii-xl);
  border-top-right-radius: var(--radii-xl);
  font-size: var(--font-sizes-lg);
  justify-content: left;
  padding-left: var(--space-4);
  padding-top: var(--space-1);
}
.editDialog .title img {
  width: 30px;
  height: 30px;
}
.editDialog .content {
  width: 100%;
  background-color: var(--color-primary);
  border-bottom-left-radius: var(--radii-xl);
  border-bottom-right-radius: var(--radii-xl);
  padding: var(--space-2);
  user-select: none;
  font-weight: bold;
  gap: var(--space-4);
  position: relative;
}
.editDialog .dropdownInnerItem {
  gap: var(--space-2);
}
.editDialog .dropdownInnerItem img {
  width: 24px;
  height: 24px;
}
.editDialog .htmlCode {
  width: 100%;
  min-height: 150px;
  padding: var(--space-2);
  border: none;
  outline: none;
  background-color: var(--color-secondary);
  border-radius: var(--radii-2xl);
  font-size: var(--font-sizes-md);
  box-shadow: 0 0 10px 5px var(--color-tertiary-lighter);
  font-family: "Courier New", Courier, monospace;
  color: var(--color-darkgray);
  transition: all 0.2s ease-in-out;
}
.editDialog .htmlCode:focus {
  box-shadow: 0 0 10px 10px var(--color-tertiary);
  background-color: var(--color-secondary-lighter);
}
.editDialog .preview {
  padding-top: var(--space-1);
  padding-bottom: var(--space-2);
  max-height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.editDialog .sizeAdjustor {
  position: absolute;
  background-color: var(--color-primary-darker);
  top: 50%;
  right: var(--space-1);
  transform: translate(0, -50%);
  border-radius: var(--radii-full);
  padding-top: var(--space-2);
  padding-bottom: var(--space-2);
  font-size: var(--font-sizes-sm);
  gap: var(--space-5);
}
.editDialog .sizeAdjustor > input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 50px;
  color: white;
  text-align: center;
}
.editDialog .sizeAdjustor > input::-webkit-outer-spin-button, .editDialog .sizeAdjustor > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*# sourceMappingURL=news.module.css.map */
