body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("assets/fonts/Roboto-Regular.ttf");
}

/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: black;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Improve media defaults */

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

// Reset media objects

img {
  border-style: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

.app-container {
  height: var(--screen-height);
  width: var(--screen-width);
  gap: var(--space-2);
  padding: var(--space-2);
  background: var(--color-secondary-lighter);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
}

//////////////////////////////////////////////////////////
// COLORS
//////////////////////////////////////////////////////////
:root {
  // Colors
  --color-primary: #6f0000;
  --color-primary-lighter: #d30000;
  --color-primary-darker: #370000;
  --color-secondary: #f7d4cd;
  --color-secondary-lighter: #fbe9e6;
  --color-secondary-darker: #e7806c;
  --color-tertiary: #4e8fcd;
  --color-tertiary-lighter: #a6c7e6;
  --color-tertiary-darker: #1f486e;
  --color-text: #ffffffff;
  --color-darkgray: #484646;
  // Spaces
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  // Screen sizes
  --screen-height: 100vh;
  --screen-width: 100vw;
  // Border radius
  --radii-xs: 0.125rem;
  --radii-sm: 0.25rem;
  --radii-md: 0.375rem;
  --radii-lg: 0.5rem;
  --radii-xl: 0.75rem;
  --radii-2xl: 1rem;
  --radii-3xl: 1.5rem;
  --radii-full: 9999px;
  // Font sizes
  --font-sizes-2xs: 0.5rem;
  --font-sizes-xs: 0.75rem;
  --font-sizes-sm: 0.875rem;
  --font-sizes-md: 1rem;
  --font-sizes-lg: 1.125rem;
  --font-sizes-xl: 1.25rem;
  --font-sizes-2xl: 1.5rem;
  --font-sizes-3xl: 1.875rem;
  --font-sizes-4xl: 2.25rem;
  --font-sizes-5xl: 3rem;
  --font-sizes-6xl: 3.75rem;
  --font-sizes-7xl: 4.5rem;
  --font-sizes-8xl: 6rem;
  --font-sizes-9xl: 8rem;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.025);
  }
  100% {
    transform: scale(1);
  }
}

.flex-1 {
  flex: 1;
}

.flex-1-1-auto {
  flex: 1 1 auto;
}

.flex-1-0-0 {
  flex: 1 0 0;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.pos-rel {
  position: relative;
}

// Gaps
.gap-1 {
  gap: var(--space-1);
}

.gap-2 {
  gap: var(--space-2);
}

.gap-3 {
  gap: var(--space-3);
}

.gap-4 {
  gap: var(--space-4);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: var(--radii-full);
}

// Horizontal scrollbar
::-webkit-scrollbar-track:horizontal {
  margin-left: var(--space-3);
  margin-right: var(--space-3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-secondary-darker);
  border-radius: var(--radii-full);

  &:hover {
    background: var(--color-primary-lighter);
  }
}
