.banner {
  height: 100px;
  background: var(--color-primary);
  border-bottom: var(--space-3) solid var(--color-primary-darker);
  box-shadow: 0 0 10px 5px var(--color-secondary-darker);
  border-radius: var(--radii-2xl);
  padding-left: var(--space-4);
  padding-right: var(--space-4);

  .user {
    height: 100%;
    color: var(--color-text);
    padding-left: var(--space-4);
    padding-right: var(--space-4);

    p {
      padding-left: var(--space-4);
      padding-right: var(--space-4);
    }

    button {
      height: 24px;
      border-radius: var(--radii-full);
      padding: 0;
      color: lawngreen;
    }
  }
  .name {
    color: var(--color-text);
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
  }

  .group-images {
    img {
      border-radius: var(--radii-2xl);
      box-shadow: 0 0 var(--space-6) var(--color-primary-lighter);
      height: 75px;
      width: 75px;
    }
  }
}
