.banner {
  height: 100px;
  background: var(--color-primary);
  border-bottom: var(--space-3) solid var(--color-primary-darker);
  box-shadow: 0 0 10px 5px var(--color-secondary-darker);
  border-radius: var(--radii-2xl);
  padding-left: var(--space-4);
  padding-right: var(--space-4);

  position: relative;

  .dtu-logo {
    width: 50px;
    transition: all 0.3s ease-in-out;
    border-radius: var(--radii-xl);
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 10px 3px var(--color-primary-lighter);
    }
  }

  .user {
    height: 100%;
    color: var(--color-text);
    padding-left: var(--space-4);
    padding-right: var(--space-4);

    img {
      padding: 5px;
      border-radius: 50% 50%;
    }

    p {
      padding-left: var(--space-4);
      padding-right: var(--space-4);
    }

    button {
      width: auto;
      height: 28px;
      gap: var(--space-2);
      padding: var(--space-1) var(--space-2);
    }
  }

  .name {
    color: var(--color-text);
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .spacer {
    flex: 1;
  }
  .group-images {
    img {
      border-radius: var(--radii-2xl);
      box-shadow: 0 0 var(--space-6) var(--color-primary-lighter);
      height: 75px;
      width: 75px;
    }
  }
}
